#maincontainer {
	width: 780px;
	margin: 0 auto;
	text-align: left;
}
.box_fullwidth {
	clear: both;
	padding-left: 15px;
	padding-right: 15px;
	width: 750px; /* +padding: 780px */
	min-height: 500px; /* min height hack */
    height: auto !important;
    height: 500px; /* end hack */
    background-image: url(bg_fullwidth.png);
	background-repeat: no-repeat;
}

/* --------------- basic ---------------- */

html,body {
	text-align: center;
	background-color: #FFFFFF;
	font-family: "Trebuchet MS", "Luxi Sans",Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

a, a:link{
	color: #2A54AA;
	outline: none;
}

a:visited{
	color: #22468C;
}

a:hover, a:visited:hover{
	color: #3060C1;
}

a:active{
	color: #FF9933;
}

a img{
	border: 0;
}

p{
	text-align: left;
	margin: 0;
	padding: 6px 0;
}

h1 {
	line-height: 50px;
	font-size: 25px;
	font-weight: bold;
	color: #000000;
	margin: 0;
	padding: 0;
	text-align: left;
}

h2{
	color: #222222;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	padding: 0px;
	text-align: left;
}

h3{
	color: #333333;
	font-size: 18px;
	font-weight: normal;
	margin: 5px 0 5px 0;
	padding: 0;
	text-align: left;
}

h4{
	font-size: 16px;
	margin: 0;
	padding: 0 0 5px 0px;
	text-align: left;
}

h5{
	font-size: 14px;
	margin: 0;
	padding: 0 0 5px 0;
	text-align: left;
}

h6{
	font-size: 1em;
	margin: 0 10px;
	padding: 0;
	text-align: left;
}